.main {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.section {
    margin: 4rem;
    max-width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.section div {
    min-width: 40%;
}
@media (max-width: 820px) {
    .section div {
        flex: 60%;
    }
}
.section .img {
    margin-top: -2rem;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.card {
    max-width: 500px;
    display: inline-block;
    background: white;
    box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 3rem;
    text-align: center;
}
.card h2 {
    color: #F9B957;
    font-size: 4rem;
}

.app {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.questionCount {
    font-size: 1.5rem;
}

.questionText {
    color: #000000;
    font-size: 2.5rem;
}
.scoreSection {
    font-size: 3rem;
}

.card button {
    cursor: pointer;
    margin: 4rem 0;
    padding: 1rem 4rem;
    border: none;
    border-radius: 10px;
    font-size: 2.5rem;

    color: white;
    background: #5D9CFB;
}
.form button {
    margin: 0;
}

.quiz p {
    text-align: left;
}

.form {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}
.form > * {
    cursor: pointer;
}
.form label input {
    margin-right: 1rem;
    vertical-align: middle;
    height: 1.5rem;
    width: 1.5rem;
}
.form button {
    align-self: flex-end;
    margin-top: -1rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;

    color: white;
    background: #5D9CFB;
}

@media screen and (max-width: 480px ) {
    .section{
        gap: 0rem;
    }
    .card h2 {
        font-size: 11vw;
    }
    .card h3 {
        font-size: 10vw;
    }
}

.quiz.card {
    min-width: 75vw;
}
.quiz.card h3 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}
.quiz.card p {
    font-weight: bold;
    font-size: 1.75rem;
    padding-bottom: 2rem;
}