{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "plugins": [
    "react",
    "react-hooks",
    "import",
    "no-loops"
  ],
  "rules": {
    "react/no-unescaped-entities": 0,
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "no-useless-escape": "off",
    "no-undef": "off",
    "no-console": "warn",
    "no-unused-vars": "warn",
    "no-alert": "error",
    "camelcase": "error",
    "no-loops/no-loops": "error"
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}