.react-calendar {
    border: none;
    background: none;
    font-family: inherit;
    padding: 0 1rem;
}

.react-calendar__navigation__label {
    pointer-events: none;
}
.react-calendar__tile--hover {
    border: 20px black;
    border-radius: 20px;
}
.react-calendar__navigation__arrow {
    font-size: 2rem;
    font-weight: 600;
}
.highlight {
    background-color: #A390FB;
}