header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 2rem;
    margin: 5rem;
    font-size: 1.75rem;
}

.link_group {
    width: 25vw;
    display: flex;
    justify-content: space-between;
}

.links {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 1.25rem 1.75rem;
    border-radius: 10px;
}