# Run ES-Lint checks on the codebase
name: Run ES-Lint

on:
  pull_request:
    branches: []

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Run eslint
    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    
    - name: Install dependencies
      run: yarn --frozen-lockfile
    
    - name: Run ESLint on the codebase
      run: yarn lint
  
